div.card-body{
    .menu-properties{
        background: black !important;
        border-radius: 4px;
        min-width: 52px;
        min-height: 212px;
    }
    .nav-link{
        padding: 16px 0px 16px 0px;
    }
    max-width: '540px';
    i.store{
        color: white;
    }
    i.house{
        color: white;
    }
    i.build{
        color: white;
    }
    i.hotel{
        color: white;
    }
}