.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: transparent; }
  .nav-pills .nav-link.active:after, .nav-pills .show > .nav-link:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 8px 8px;
    border-color: transparent transparent transparent #007bff;
    position: absolute;
    left: 15px;
    z-index: 1;
    margin-top: 3px; }
